@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: Android;
    src: url(fonts/IDroid.otf) format('opentype'), url(fonts/IDroid\ Bold.otf) format('opentype'), url(fonts/IDroid\ Bold\ Italic.otf) format('opentype'), url(fonts/IDroid\ Italic.otf) format('opentype');
}
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #125c37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', cursive;
    --fonte2:'Android', sans-serif;
}



body{
    font-family: var(--fonte0);
    color: black;
    background-color: var(--cor1);
    margin: 0px;
}
header{
    background-image: linear-gradient(to bottom, var(--cor3)20%, var(--cor4)90%);
    
}
header > h1, header > p{
    text-align: center;
    color: rgb(247, 247, 247);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.521);
    padding: 10px;
}
nav{
    padding: 10px;  
}
nav > a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
nav > a:hover{
    background-color: #168d49;
    color: #0d3f22;
    transition-duration: .5s;
    text-decoration: underline;   
}

main{
    min-width: 260px;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
    margin: auto;
    border-radius: 0px 0px 13px 13px;
    margin-bottom: 30px;
}
img{
    min-width: 50%;
    max-width: 100%;
}
.img{
    display: block;
    max-width: 100%;
    width: 100%;
    margin: auto;
}
h1{
    font-family: 'Bebas Neue', Arial, sans-serif;
    font-weight: lighter;
    font-size: 3em;
    margin: 0px;
    color: white;
}
h2{
    font-family: var(--fonte2);
    color: var(--cor4);
    font-size: 1.8em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.178);
}
h3{
    font-family: var(--fonte2);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1)-97%, white 99%);
    padding: 2px;
}
p{
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
}
strong{
    color: #288a54;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.226);
}
.link{
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
    background-image: linear-gradient(to right, var(--cor1), rgba(255, 255, 255, 0.705));
    padding: 1px;
}
.link::after{
    content: '\00A0\1F517';
    color: #227548;
}
.link:hover{
    color: var(--cor3);
    text-decoration: underline;
    transition-duration: .2s;
}
aside{
    background-color: var(--cor0);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.205);
}
h4{
    font-size: 1.5em;
    margin: -10px -10px 0px -10px ;
    background-color: var(--cor4);
    color: white;
    border-radius: 10px 11px 0px 0px;
    padding: 10px;
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.24);
}

footer{
    background-color: var(--cor4);
    color: rgba(255, 255, 255, 0.658);
    font-style: italic;
    padding: 5px;
    font-size: 0.8em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.205);
}
footer > p{
 margin: 0px;
 text-align: center;
}
span{
    font-weight: bolder;
    color: white;
}
ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
    font-size: 1.2em;
}


div.video{
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    
    margin-bottom: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    margin-bottom: 30px;
}
